<template>
  <img :src="randomBanner" style="max-height: 60vh;aspect-ratio: 0;" >
</template>

<script>
import banner1 from './../assets/banners/1.jpeg';
import banner2 from './../assets/banners/2.jpeg';
import banner3 from './../assets/banners/3.jpeg';
import banner4 from './../assets/banners/4.jpeg';
import banner5 from './../assets/banners/5.png';

export default {
  data() {
    return {
      banners: [
        { name: 'banner1', src: banner1 },
        { name: 'banner1', src: banner2 },
        { name: 'banner1', src: banner3 },
        { name: 'banner1', src: banner4 },
        { name: 'banner1', src: banner5 },
      ],
    };
  },
  computed: {
    randomBanner() {
      const randomIndex = Math.floor(Math.random() * this.banners.length);
      return this.banners[randomIndex].src;
    },
  },
};
</script>
<style scoped>
img {
  max-height: 60vh;
  aspect-ratio: 0;
  max-width:100%;
}
</style>
