<template>
  <div>
    <p v-if="timeRemaining > 0">
      Tiempo restante:
      {{ days }} días, {{ hours }} horas, {{ minutes }} minutos, {{ seconds }} segundos
    </p>
    <p v-else>
      ¡La cuenta regresiva ha terminado!
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      targetDate: new Date('2027-12-11').getTime(),
      timeRemaining: 0,
      days: 0,
      hours: 0,
      minutes: 0,
      seconds: 0,
    };
  },
  mounted() {
    this.updateCountdown();
    setInterval(this.updateCountdown, 1000);
  },
  methods: {
    updateCountdown() {
      const now = new Date().getTime();
      this.timeRemaining = this.targetDate - now;

      this.days = Math.floor(this.timeRemaining / (1000 * 60 * 60 * 24));
      this.hours = Math.floor((this.timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      this.minutes = Math.floor((this.timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      this.seconds = Math.floor((this.timeRemaining % (1000 * 60)) / 1000);
    },
  },
};
</script>

<style>
/* Estilos opcionales */
</style>

